<div class="col-9">
  <%= render 'shared/main_headers' %>
  <%= render 'form', tweet: @tweet %>
  <section class="feed-section">
    <%= render 'feed' %>
  </section>
  

  

  <br>

  <%= link_to 'New Tweet', new_tweet_path %>
</div>

<div class="col-3 who-to-follow">
  <%= render 'who_to_follow' %>
</div>