<div class="social-profile">
	<div class="bio bio-up-section">
		<div class="item-group pic-group">
			<span class="item item-icon">
				<%= display_follow_button_for(@user) %>
				<%= display_unfollow_button_for(@user) %>
			</span>
			<!--img alt="profile-pic" src="https://picsum.photos/id/1/70/70" class="profile-pic img-fluid"-->
			<%= avatar_for(@user) %>
			<span class="item item-icon " data-toggle="tooltip" title="">
				<i class="fas fa-list"></i>
			</span>
		</div>
		<div class="tag">
			<span class="name">
				<%= @user.FullName %>
			</span>
			<p class="handle">
				<%= "@#{@user.Username}" %>
			</p>
		</div>
	</div>
	<div class="statistic">
		<div class="item-group tweets">
			<p class="item">
				<%= @user.tweets.count %>
			</p>
			<p class="item-label">Tweets</p>
		</div>
		<div class="item-group following">
			<p class="item">
			<%= @user.following.count %>
			</p>
			<p class="item-label">Following</p>
		</div>
		<div class="item-group followers">
			<p class="item">
			<%= @user.followers.count%>
			</p>
			<p class="item-label">Followers</p>
		</div>
	</div>
	<div class="followers">
		<div class="main-headers">
			<h4 class="header">Followed By</h4>
		</div>
		<% @user.followers.each do |follower| %>
		<div class="followed-by">
			<div class="bio">
				<%= avatar_for(follower) %>
				<div class="tag">
					<span class="name">
						<%= link_to follower.FullName, user_path(follower), class: 'is-link text-primary' %>
					</span>
					<span class="handle">
						<%= "@#{follower.Username}" %>
					</span>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>