<div class="card border-0">
	<div class="header card-header tweets-header">
		<h4 class="feed-title">All Tweets</h4>
	</div>
	<div class="card-body">
		<% @user.tweets.each do |tweet| %>
		<p class="card-text">
			<div class="row mb-4">
				<div class=" col-12 mb-3">
					<article class="my-2">
						<div class="media d-flex">
							<%= avatar_for(@user) %>
							<div class="media-body flex-grow-1">
								<div>
									<div class="d-flex justify-content-between align-items-end">
										<div class="tag">

											<span class="name">
												<%= @user.full_name %>
											</span>
											<p class="handle text-muted">
												<%= "@#{@user.username}" %>
											</p>
										</div>
										<small class="text-muted">
											<%= tweet.created_at.strftime("%a %m/%d/%y") %>
											
										</small>
									</div>
								</div>
								<p>
									<%= tweet.text %>
								</p>
							</div>
						</div>
					</article>
				</div>
			</div>
		</p>
		<% end %>

	</div>
</div>